<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIWebviewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>766095BA1BF4748A00A8AA3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766095CE1BF4748B00A8AA3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766095D91BF4748B00A8AA3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
